<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kyc</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">toor</property>
    <property name="hibernate.connection.pool_size">20</property>
    
    <mapping class="sg.gov.ida.kyc.data.CustomerDto"/>
    <mapping class="sg.gov.ida.kyc.data.PepStatusDto"/>
    <mapping class="sg.gov.ida.kyc.data.BankDto"/>
    <mapping class="sg.gov.ida.kyc.data.EmployeeDto"/>
    
     
  </session-factory>
</hibernate-configuration>
